* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.E {
    position: relative;
    min-height: 10vh;
    width: 100%;
    background: #23242a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    perspective: 1000px;
}
.A {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #23242a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    perspective: 1000px;
}
.A::before {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 3%;
    transform: translate(-150px,-100px);
    background: linear-gradient(90deg,#4927b0,#f3f5f5);
}
.A::after {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 3%;
    transform: translate(150px,100px);
    background: linear-gradient(90deg,#279eb0,#f3f5f5);
}
.B {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #23242a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    perspective: 1000px;
}
.B::before {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 25%;
    transform: translate(-150px,-100px);
    background: linear-gradient(90deg,#b02727,#f3f5f5);
}
.B::after {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 25%;
    transform: translate(150px,100px);
    background: linear-gradient(90deg,#b06527,#f3f5f5);
}
.C {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #23242a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    perspective: 1000px;
}
.C::before {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(-150px,-100px);
    background: linear-gradient(90deg,#aeb027,#f3f5f5);
}
.C::after {
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(150px,100px);
    background: linear-gradient(90deg,#27b03e,#f3f5f5);
}
.COA {
    position: relative;
    height: 225px;
    width: 375px;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;
}
.COA:hover {
    transform: rotateY(180deg);
}
.COA .card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255,255,255,0.1);
    backface-visibility: hidden;
}
.COB {
    position: relative;
    height: 40px;
    width: 375px;
    z-index: 100;
    transition: 100000s;
    transform-style: preserve-3d;
}
.COB:hover {
    transform: rotateY(180deg);
}
.COB .card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255,255,255,0.1);
    backface-visibility: hidden;
}
.front-face header,
.front-face .logo {
    display: flex;
    align-items: center;
}
.front-face header {
    justify-content: space-between;
}
.front-face .logo img {
    width: 60px;
    margin-right: 10px;
}
h5 {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}
h6 {
    color: #ffffff;
    font-size: 6px;
    font-weight: 400;
}
i {
    color: #ffffff;
}
.front-face .chip {
    width: 50px;
}
.front-face .card-details {
    display: flex;
    margin-top: 40px;
    align-items: flex-end;
    justify-content: space-between;
}
h5.number {
    font-size: 18px;
    letter-spacing: 1px;
}
h5.name {
    margin-top: 20px;
}
.card.back-face {
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
}
.card.back-face h6 {
    font-size: 8px;
}
.card.back-face .magnetic-strip {
    position: absolute;
    top: 40px;
    left: 0;
    height: 45px;
    width: 100%;
    background: #000000;
}
.card.back-face .signature {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
    height: 40px;
    width: 85%;
    border-radius: 6px;
    background: repeating-linear-gradient(
        #ffffff,
        #ffffff 3px,
        #efefef 0px,
        #efefef 9px
    );
}
.signature i {
    color: #000000;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-right: -30px;
    z-index: -1;
}
.card.back-face h5{
    font-size: 8px;
    margin-top: 15px;
}
p {
    font-size: 20px;
    padding: 6px 160px;
}