body {
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #ffffff, #b0dfff);
    display: flex;
    min-height: 100vh;
    /*居中*/
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.a {
    text-decoration: #0b1531;
}

.ea {
    font-size: 40px;
    font-weight: bold;
    background: air;
    color: #526db9;
    position: absolute;
    top: 3px;
    left: 40px;
}

.earr {
    font-size: 40px;
    font-weight: bold;
    background: air;
    color: #b95252;
    position: absolute;
    top: 3px;
    left: 400px;
}

.eb {
    font-size: 40px;
    font-weight: bold;
    background: air;
    color: #ffffff;
}

.ec {
    font-size: 4px;
    font-weight: bold;
    background: air;
    color: #192744;
}

.ed {
    font-size: 14px;
    font-weight: bold;
    background: air;
    color: #7383a5;
    position: absolute;
    top: 20px;
    left: -170px;
}

.ee {
    font-size: 14px;
    font-weight: bold;
    background: air;
    color: #7383a5;
    position: relative;
    top: 10px;
    left: 10px;
}

.blink {
    animation: blink 4s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.blinkB {
    animation: blink 1s infinite;
}

@keyframes blinkB {
    50% {
        opacity: 0;
    }
}

.card {
    position: relative;
    width: 100%;
    height: 4px;
    background: #272d3b;
    position: absolute;
    top: 60px;
    left: 0px;
}

.car {
    position: fixed;
    width: 100%;
    height: 60px;
    background: #0e0f1af0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}


.cbrd {
    position: relative;
    width: 2px;
    height: 100%;
    background: #656d7c;
    position: absolute;
    top: 0px;
    left: 200px;
}

.cbr {
    position: relative;
    width: 200px;
    height: 100vh;
    background: linear-gradient(0deg, #bcf2ff, #82a3ff);
    position: absolute;
    /* top: 64px; */
    left: 0px;
}

.ccr {
    position: relative;
    width: 200px;
    background: #ffffff00;
    position: absolute;
    top: 84px;
    left: 230px;
}

.cdr {
    position: relative;
    width: 180px;
    height: 40px;
    background: #d1e0ffa0;
    top: 0px;
    left: 0px;

}

#f {
    position: absolute;
    bottom: 0;
    text-decoration: none;
}

#f > a {
    text-decoration: none;
    color: rgb(92, 241, 241);
    transition: 0.6s;
}

#f > a:hover {
    color: rgb(12, 145, 145);
    transition: 0.6s;
}


.rpp {
    position: absolute;
    top: 30;
    left: 0px;
}

.rna {
    position: relative;
    width: 168px;
    height: 28px;
    background: #d0d0eb;
    position: absolute;
    top: 16px;
    left: -184px;
}

.roa {
    position: relative;
    width: 4px;
    height: 20px;
    background: #ffa3a3;
    position: absolute;
    top: 20px;
    left: -180px;
    z-index: 1;
}

#endo {
    position: absolute;
    top: 210px;
    left: 0px;
}

#rn1 {
    position: absolute;
    top: 30px;
    left: 0px;
}

#rn2 {
    position: absolute;
    top: 60px;
    left: 0px;
}

#rn3 {
    position: absolute;
    top: 90px;
    left: 0px;
}

#rn4 {
    position: absolute;
    top: 120px;
    left: 0px;
}

#rn5 {
    position: absolute;
    top: 150px;
    left: 0px;
}

#rn6 {
    position: absolute;
    top: 180px;
    left: 0px;
}

#rn7 {
    position: absolute;
    top: 210px;
    left: 0px;
}

#tn1 {
    position: absolute;
    top: 84px;
    left: 430px;
}

#tn2 {
    position: absolute;
    top: 160px;
    left: 230px;
}

#tn3 {
    position: absolute;
    top: 160px;
    left: 430px;
}

#tn4 {
    position: absolute;
    top: 120px;
    left: 0px;
}

#tn5 {
    position: absolute;
    top: 150px;
    left: 0px;
}

#tn6 {
    position: absolute;
    top: 180px;
    left: 0px;
}

#tn7 {
    position: absolute;
    top: 210px;
    left: 0px;
}

.cb {
    position: relative;
    margin-top: 50px;
}
.rna {
    border-radius: 20px;
    margin-bottom: 1px;
}